.dropdown-menu
  %ul.header-main-dropdown
    %li
      About/Contact
    %li
      Résumé
    %li
      Social

      %ul.header-social-dropdown
        %li
          twitter
        %li
          tumblr
        %li
          linkedin
        %li
          pinterest
        %li
          dribble
%header
  .header-bars
    = fa_icon "bars"
  %h1.header-title
    %span JP Fairchild
  .clearfix
