.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle The Reel to Reel

.project
  .project-main-image
    = image_tag "reel2reel/aas_reel.png", width: "100%", alt: ""

  .project-content
    .project-intro
      .project-intro
        = image_tag "reel2reel/bu-logo.png", class: "project-intro-image", alt: ""
        %h1.project-intro-title Brooklyn United Reel to Reel
        .project-intro-work-types
          .project-intro-work-type Animation
          .project-intro-work-type-separator &bull;
          .project-intro-work-type Visuals 
          .project-intro-work-type-separator &bull;
          .project-intro-work-type Director
        .project-intro-descript
          During my time at Brooklyn United I animated and made assets for the 2014 Reel, which contained of all the work they had done up until then.

