// Large container elements that house all the other elements on each page

.container
  +box-sizing()
  height: 100%
  margin: 0 auto
  max-width: 1600px
  padding: 0 1rem
  width: 100%

.content
  display: inline-block
  line-height: normal
  position: relative
  vertical-align: middle
  width: 100%
