// All styles having to do with the omnipresent header

header
  +backface-visibility(hidden)
  +box-shadow(0, 1px, 4px, $color-shadow)
  +transform-style(preserve-3d)
  +transition(transform 300ms $ease-out-quint, left 300ms $ease-out-quint)
  +translateX(0)
  left: 0
  position: fixed
  top: 2rem
  z-index: 20

.header-bars
  +user-select(none)
  background-color: $color-blue
  color: $color-white
  cursor: pointer
  display: block
  float: left
  font-size: 1.3em
  padding: 1.3rem
  position: relative
  text-align: center
  width: 1.3rem

  .fa.fa-times
    width: 18px

.header-title
  +box-shadow(0, 1px, 4px, $color-shadow)
  background-color: $color-white
  color: $color-blue
  display: block
  font-size: 1.3em
  left: 3.9rem
  padding: 0.6rem 2rem
  position: fixed
  top: 2rem

  .title
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif
    margin-bottom: 0.59rem

  .subtitle
    color: lighten($color-grey-lt, 20%)
    font-size: 0.64em
    text-transform: uppercase

    span
      color: $color-grey
      font-weight: 200
