// The initial cards on the homepage that introduce the
// main website

.intro-card
  width: 100%
  line-height: 800px
  display: block
  text-align: center

.intro-card-text
  display: inline-block
  margin: 0 auto
  text-align: left
  vertical-align: middle
  line-height: normal

// Text inside of the intro card
.intro-card-title
  font-size: 2.1em
  line-height: 1.4em
  color: $color-blue

.intro-card-subtitle
  font-size: 1.3em
  line-height: 1.5em

.intro-card-details
  font-size: 1.2em
  font-style: italic
  line-height: 2em
