// Styles for the header that only displays when viewing projects

.project-header
  +anti-alias()
  +text-shadow(0 2px 2px $color-black)
  position: absolute
  margin-left: 6rem
  top: 3.3rem
  z-index: 5

.project-header-title, .project-header-separator, .project-header-subtitle
  display: inline-block
  font-size: 17px

.project-header-title
  font-weight: 200
  margin-right: 1rem

.project-header-separator
  font-weight: bold
  margin-right: 1rem

.project-header-subtitle
  font-weight: bold
  margin-right: 1rem
