// Styles for project pages

.project
  height: 100%
  padding-bottom: 5rem

.project-main-image-container
  background-color: $color-black
  height: 100%
  overflow-y: hidden
  width: 100%

  .project-main-image
    +opacity(1)
    +translateZ(0)
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    bottom: 0
    height: 100%
    line-height: 0
    overflow-y: hidden
    position: relative
    width: 100%
    z-index: 1

    &.contain
      background-size: contain

    &.illustration
      background-color: $color-grey

.project-down-arrows
  bottom: 0
  cursor: pointer
  left: 50%
  margin-left: -4rem
  padding: 1rem
  position: absolute
  width: 6rem
  z-index: 20

.project-intro
  +box-sizing(border-box)
  margin-top: 4rem
  max-width: 100%
  padding: 0 1.2rem
  text-align: center

.project-intro-image
  max-width: 100px
  width: 100%

.project-intro-title
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif
  font-size: 1.5em
  font-weight: 500
  margin: 2rem auto 0
  max-width: 30rem
  text-transform: uppercase

.project-intro-work-types
  font-size: 1em
  margin-bottom: 2rem
  margin-top: 1.5rem
  opacity: 0.6
  text-transform: uppercase

.project-intro-work-type
  display: inline-block

.project-intro-work-type-separator
  display: inline-block
  margin: 1.5rem

.project-intro-descript
  color: $color-grey-lt
  font-size: 1.2em
  font-weight: 200
  line-height: 1.4em
  margin: 0 auto 6rem
  max-width: 50rem
  text-align: left

  a
    +transition(opacity 300ms $ease-out-quint)
    font-weight: 500

.project-section
  margin: 6rem 0
  text-align: left

  a
    +transition(opacity 300ms $ease-out-quint)
    font-weight: 500

.project-section-image
  margin-bottom: 3rem
  width: 100%

  img
    display: block
    width: 100%

  &.image-squish
    margin: -6rem 0

.project-section-small-image
  margin: 3rem auto
  max-width: 60rem
  width: 100%

  &.image-shadow
    +box-shadow(0, 0, 8px, $color-shadow)

  img
    width: 100%

.project-section-title
  +box-sizing(border-box)
  font-size: 1.5em
  font-weight: 500
  line-height: 1.4em
  margin: 1.5rem auto 0
  max-width: 50rem
  padding: 0 1.2rem
  text-transform: uppercase

.project-section-smalltitle
  font-size: 1.6em
  font-weight: 200
  line-height: 1.4em
  margin: 0 auto
  max-width: 50rem
  text-align: center
  width: 100%

.project-section-descript
  +box-sizing(border-box)
  font-size: 1.2em
  font-weight: 200
  line-height: 1.4em
  margin: 1.5rem auto 0
  max-width: 50rem
  padding: 0 1.2rem 2rem

.project-section-small-grid
  +box-sizing(border-box)
  display: table
  margin: 0 auto
  max-width: 60rem
  padding: 0 1.2rem
  width: 100%

  .project-section-half
    display: table-cell
    padding: 0 1rem
    margin-bottom: 2rem
    width: 50%
    vertical-align: middle

    &.vertical-align-top 
      vertical-align: top

    video
      width: 100%

    .project-section-descript
      margin-top: 0
      text-align: left

    .project-section-title
      text-align: left
      margin-bottom: 1.5rem


.project-section-video
  width: 100%

.project-footer
  font-weight: 200
  margin-bottom: 6rem
  margin-top: 6rem
  text-align: center

.project-footer-text
  +box-sizing(border-box)
  font-size: 1.6em
  font-style: italic
  line-height: 1.2em
  margin: 0 auto 1.5rem 
  padding: 0 1.2rem

  a
    color: $color-blue
    font-weight: bold

.project-footer-smalltext
  @extend .project-footer-text
  margin-bottom: 2rem
  max-width: 40rem
  width: 100%

.project-footer-more
  color: $color-grey-lt
  font-size: 1.55em
  font-weight: 200
  margin-bottom: 0.5rem

.project-footer-other-projects
  margin-top: 6rem
  text-align: center
  width: 100%

  
.project-footer-other-project
  display: block
  float: left
  width: 50%

  a
    display: block
    height: 0
    padding-bottom: 43.75%
    width: 100%
    overflow-y: hidden
    
    img
      display: block
      width: 100%

      &.dsb
        margin-top: -10%
