// Section on the bottom of project pages and on the homepage that 
// shows an image and description of each project

.project-previews
  position: relative
  width: 100%

.project-preview
  display: block
  width: 100%

  a
    display: block
    height: 0
    overflow-y: hidden
    margin-bottom: -1px
    padding-bottom: 43.75%

    img
      display: block
      width: 100%

      &.dsb
        margin-top: -10%

  a:hover
    opacity: 1
    
