// Section on the bottom of project pages and on the homepage that 
// shows an image and description of each project

.project-previews
  width: 100%

.project-preview
  padding: 5rem 0
  width: 100%

.project-preview-content
  @extend .container
  height: auto

.project-preview-leftalign-image
  left: -10rem
  position: relative

.project-preview-text
  margin: 0 auto
  max-width: 500px
