// Responsive styles for each project page class

+breakpoint($breakpoint-md)
  .project-section-small-grid
    display: block
    width: 100%

    .project-section-half
      display: block
      padding: 0
      width: 100%

+breakpoint($breakpoint-sm) 
  .project-header
    margin-left: 5.5rem

  .project-main-image-container
    .project-main-image
      background-attachment: scroll

  .project-intro-work-type-separator
    margin: 0.2rem

  .project-intro-descript
    font-size: 1.1em
    text-align: left

  .project-screenshots-2
    .project-screenshot
      width: 90%

  .project-screenshots-3
    .project-screenshot
      width: 90%

  .project-section-descript
    font-size: 1em
    text-align: left

  .project-section-image
    &.image-squish
      margin: -8rem 0 -3rem

  .project-footer
    margin-bottom: 0

  .project-footer-text
    font-size: 1em

  .project-footer-more
    font-size: 0.98em
  
  .project-footer-other-project
    display: block
    width: 100%

    a
      width: 100%
