-# App Homepage

.container
  .intro-card
    .intro-card-text
      %h1.intro-card-title JP Fairchild
      %h2.intro-card-subtitle New Media Designer
      %p.intro-card-details A Passion for Design, Tech and Life
      .intro-card-down-arrows
        = image_tag "double_carat-down.svg", width: "100%"

  .intro-card-blue
    .rocket-ship
      = image_tag "rocket-ship.svg", width: "100%"
    .intro-card-descript
      %h2.intro-card-small_title Interactive &amp; Motion Designer
      %p.intro-card-small_details I am an Interaction Designer who craves designing awesome user experiences. I do UI, UX and Motion.
    .clouds
      = image_tag "clouds.svg", width: "100%"

  .intro-card-blue
    
